body {
  background-color: #f7f7f7;
  font-family: Arial;
  color: #ccc7c7;
  font-size: 1.2rem;
}
h1 {
  color: #ccc7c7;
  font-size: 5.5rem;
  margin-bottom: 20px;
  font-family: "Times New Roman";
  text-align: center;
}
.textinput {
  color: #ccc7c7;
  padding-left: 40px;
}

.delete-btn {
  opacity: 0;
  cursor: pointer;
  color: #ccc7c7;
}

.todo-item:hover .delete-btn {
  opacity: 1;
}
.counter {
  font-size: 1rem;
  color: #ccc7c7;
  margin-bottom: 20px;
  opacity: 0.7;
}

.textinput::placeholder {
  color: #ccc7c7;
}
